@keyframes gradientAnimation {
  from {
    background-position: 200% 50%;
  }
  to {
    background-position: 0% 50%;
  }
}
 
@keyframes borderFlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
 